@counter-style cupcakes {
  system: cyclic;
  symbols: "\1F9C1";
  suffix: " ";
}

@counter-style it {
  system: cyclic;
  symbols: "\1F4BE";
  suffix: " ";
}

@counter-style shop {
  system: cyclic;
  symbols: "\1F33C";
  suffix: " ";
}

body {
  font-family: "Roboto Condensed";
  display:flex;
  flex-direction: column;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #F7B538;
  color: white;
}

#navbar ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: stretch;
}

#navbar li {
    list-style: none;
    padding: 5px;
    margin: 3px;
}

#navbar li a {
    color: white;
}

#navbar li:hover {
    margin:0px;
    padding:0px;
    background-color: #3CBBB1;
}

ul .it {
  list-style-type: it;
}

ul .cafe {
  list-style-type: cupcakes;
}

ul .shop {
  list-style-type: shop;
}

a {
    color: #4392f1;
    text-decoration: none;
    font-variant: small-caps;
}

a:visited {
    color: #F49D6E
}

a:hover {
    color:#E43F6F
}

.codepen {
    width: 30%;
}

footer {
    background-color: #E43F6F;
    width: 100%;
    position: absolute;
    bottom: 0px;
    color:white;
    text-align: center;
}

footer ul {
    list-style-type: none;
    display:flex;
    justify-content:center;
    margin: 16px;
    align-items: center;
}

footer ul a a:visited{
    color: white;
}

footer ul a:hover {
    color: #F49D6E   
}

footer li {
    margin: 5px;
    padding: 5px;
}
