@counter-style cupcakes {
  system: cyclic;
  symbols: "\1F9C1";
  suffix: " ";
}

@counter-style it {
  system: cyclic;
  symbols: "\1F4BE";
  suffix: " ";
}

@counter-style shop {
  system: cyclic;
  symbols: "\1F33C";
  suffix: " ";
}

.codepen {
    width: 30%;
}

/** BODY STYLING */

body {
  font-family: "Roboto Condensed";
  display:flex;
  flex-direction: row;
  margin: 0px;
}

h1 {
    font-family: "Roboto Slab";
    font-variant: small-caps;
}

/** NAVIGATION STYLING */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F7B538;
  color: white;
  font-size: 2rem;
}

#navbar ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: stretch;
}

#navbar li {
    list-style: none;
    padding: 5px;
    margin: 0px;
}

#navbar li a {
    color: white;
}

#navbar li:hover {
    margin:0px;
    padding:5px;
    background-color: #3CBBB1;
}

ul .it {
  list-style-type: it;
}

ul .cafe {
  list-style-type: cupcakes;
}

ul .shop {
  list-style-type: shop;
}

a {
    color: #4392f1;
    text-decoration: none;
    font-variant: small-caps;
}

a:visited {
    color: #F49D6E
}

a:hover {
    color:#E43F6F
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

/** MAIN STYLING */

main {
    display:flex;
    flex-direction: column;
    align-self: center;
    margin: 10px;
    width: 75%
}

#quote {
    font-style: italic;
}

/** FOOTER STYLING */

footer {
    background-color: #E43F6F;
    width: 100%;
    position: relative;
    bottom: 0px;
    color:white;
    text-align: center;
    font-size: 1rem;
}

footer ul {
    list-style-type: none;
    display:flex;
    justify-content:center;
    margin: 16px;
    align-items: center;
    font-variant: small-caps;
}

footer ul a {
    color: white;
}

footer ul a:visited {
    color: white;
}

footer ul a:hover {
    color: #F49D6E;
}

footer li {
    margin: 5px;
    padding: 5px;
}
